{% extends "master.html" %}

{% block title %}Login page{% endblock %}

{% block body %}
    {% for message in messages %}
        <ul><li>{{ message }}</li></ul>
    {% endfor %}

<div class="mycard">
<h1>Login </h1>
<form method="post">
    {% csrf_token %}
<ul>
    <li>{{ form.username.label }}</li>
    {{ form.username }}<br>

    <li>{{ form.password.label }}</li>
    {{ form.password }}<br>
</ul> <br>
    <button type="submit" name="create_user">Login!</button><br><hr>
    Don't have an account? <br>
    <a href="{% url "register" %}" style="color: #3c4fe0">Sign up!</a>
</form>

</div>
{% endblock %}