{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Dwitter{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'mystyles.css' %}">
</head>
<body>

<div class="topnav">
    <a href="{% url "tweet-list" %}">HOME</a>
    {% if request.user.is_authenticated %}
    <a href="{% url "logout" %}">Logout</a>
    {% else %}
    <a href="{% url "login" %}">Login</a>
    {% endif %}

</div>
{% if request.user.is_authenticated %}
<span id="#hello_message">Hello {{ request.user }}</span>
{% endif %}

{% block body %}
{% endblock %}

</body>
</html>